[submodule "android-material"]
	path = android-material
	url = https://github.com/ahmadmuzakki29/android-material
[submodule "android-helper"]
	path = android-helper
	url = https://github.com/ahmadmuzakki29/android-helper
